/* Secção Sobre Mim */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
    height: 100vh; /* Altura total da janela */
    padding-left: 10%; /* Espaço à esquerda */
    color: #333; /* Cor do texto */
    font-family: Arial, sans-serif; /* Fonte consistente */
}

.about h1 {
    font-size: 3rem; /* Mesmo tamanho da secção "Início" */
    font-weight: bold;
    margin: 0;
}

.about p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-top: 1rem;
    max-width: 600px; /* Para não ficar muito espalhado */
}

.dynamic-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2rem;
    vertical-align: middle; /* or top, bottom, etc. */
}

/* Estilização dos ícones das tecnologias */
.tech-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.tech-icons i {
    font-size: 2.5rem;
    color: #90DDF0;
    transition: transform 0.3s, color 0.3s;
}

.tech-icons i:hover {
    transform: scale(1.2);
    color: #acdce8;
}
