/* Estilo para a secção de Início */
.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
    height: 100vh; /* Altura total da janela */
    padding-left: 10%; /* Espaço à esquerda */
    font-family: Arial, sans-serif; /* Fonte padrão */
}

.inicio h1 {
    font-size: 3rem; /* Tamanho grande para o nome */
    font-weight: bold; /* Texto em negrito */
    margin: 0; /* Remove margens externas */
    color: #90DDF0;
}

.dynamic-text {
    font-size: 2rem;  /* Font size */
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
